anthropic
openai
pre-commit
datasets
tiktoken
libcst
llama-index
jsonlines
llama-cpp-python
google-generativeai
llama-index-embeddings-huggingface
matplotlib
torch 
transformers[torch] 
sentence-transformers 
whatthepatch 
tqdm
swebench @ git+https://github.com/princeton-nlp/SWE-bench
